@model bool
    <span>
        <i class="glyphicon @(Model ? "glyphicon-star" : "glpyicon-star-empty")"
                data-toggle="star"
                data-IDataBindingsAccessor="@ViewBag"></i>
    </span>